# Serverless
.serverless

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
__pycache__
.cache
.coverage
node_modules/
package-lock.json
env.json
.pytest_cache
serverless/*/requirements.txt

# Editors
.idea/
.vscode/

coverage.xml

results/

src/test\.py

\.DS_Store

\.env


# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist
